<div class="container mt-5">
    <h3 class="mb-4 text-success text-center">Doctor Details</h3>
  
    <div class="table-responsive">
      <table class="table table-bordered table-hover table-striped custom-table">
        <thead class="thead-dark">
          <tr>
            <th>Doctor ID</th>
            <th>Name</th>
            <th>Phone Number</th>
            <th>Department</th>
            <th>Specialization</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let doctor of doctorList">
            <td>{{ doctor.doctorID }}</td>
            <td>{{ doctor.doctorName }}</td>
            <td>{{ doctor.doctorPhoneNumber }}</td>
            <td>{{ doctor.doctorDepartment }}</td>
            <td>{{ doctor.doctorSpecialization }}</td>
            <td>{{ doctor.doctorEmail }}</td>
              

          </tr>
        </tbody>
      </table>
    </div>
  </div>