

<h1>Welcome Doctor </h1> 



<h2>Patient Details</h2>

<table border="1" cellspacing="0" cellpadding="5">
    <tr>
        <th>Patient ID</th>
        <th>Patient Name</th>
        <th>Patient Age</th>
        <th>Patient BLOOD TYPE</th>
        <th>Appointment Date</th>
        <th>Action</th>
        
        </tr>
        <tr *ngFor="let patientData of patientList" >     

        <td>{{patientData.patient.patientID}}</td>
        <td>{{patientData.patient.patientname}}</td>    
        <td>{{patientData.patient.age}}</td>
        <td>{{patientData.patient.bloodGroup}}</td> 
        <td>  {{patientData.patient.appointmentDate}} </td>

         <td>
            <button (click)="viewPatientDetails(patientData.patient.patientID)" >View Details</button>
            <button (click)="updatePatient(patientData.patient.patientID)">Diagonise</button>
            <button (click)="deletePatient(patientData.patient.patientID)">Delete</button>
            <button class="btn btn-success mt-3" (click)="exportToPDF()" *ngIf="sblock" >
                Export to PDF
              </button>

        </td> 




        </tr>
</table> 

<div *ngIf="patientData">
    <h2>Patient Details</h2>
    <p> Patient ID: {{patientData.patientID}}</p>
    <p> Patient Name: {{patientData.patientname}}</p>
    <p> Patient Age: {{patientData.age}}</p>
    <p> Patient Blood Group: {{patientData.bloodGroup}}</p>
    <p> Patient Appointment Date: {{patientData.appointmentDate}}</p>
    

 




</div>




<!-- | paginate:{itemsPerPage:count,currentPage:p} -->


<!-- 
<div class="text-right">

    <pagination-controls (pageChange)="p=$event"></pagination-controls>

</div> -->