<p>doctordiagnose works!</p>



 
<form #updateForm="ngForm" (ngSubmit)="updatePatient()">
<h2>Patient Details</h2>

<div *ngIf="patientObject">
    <p> patientID: {{patientObject.patientID}}  </p>
    <p> patient name: {{patientObject.patientname}}</p>
    <p> patient age: {{patientObject.age}}</p>
    <p> patient blood group: {{patientObject.bloodGroup}}</p>
    <p>   Patient Appointment Date: {{patientObject.appointmentDate}}</p>

    </div>

<div *ngIf="patientObject">
<input type="text" placeholder="Enter Diagonise" name="diagonise" [(ngModel)]="patientObject.patientDoasge" required>
<input type="text" placeholder="Enter Patient dosage" name="patientPrescription" [(ngModel)]="patientObject.patientPrescription" required>
<input type="text" placeholder="Enter Doctor fees" name="doctorFees" [(ngModel)]="patientObject.doctorFees" required>
<input type="submit" value="Update Patient">

</div>

</form>

