<div class="bg-image">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/"> <b>EDUBRIDGE HOSPITALS</b></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <!-- Navigation items can go here -->
      </ul>

      <div>
        <button style="margin: 5px;" class="btn btn-danger">
          <a style="color:white;" routerLink="adminLogin">Login as Admin</a>
        </button>

        <button style="margin: 5px;" class="btn btn-danger">
          <a style="color:white;" routerLink="doctorlogin">Login as Doctor</a>
        </button>

        <button style="margin: 5px;" class="btn btn-danger">
          <a style="color:white;" routerLink="registerurl">Login as Patient</a>
        </button>
      </div>
    </div>
  </nav>
</div>